{{template "header" .}}

                <div class="container-fluid">

                    <div class="row mt-5">
                        <h3>Filter by Zone</h3>

                        <div class="col-md-3 mr-1 mb-1">
                            <a href="/admin/rooms/?filter-type=*" class="{{ if eq .FilterType "*" }}link-dark{{end}}">All</a>
                        </div>
                        {{$filterType := .FilterType}}
                        {{range $index, $zInfo := .Zones}}
                            <div class="col-md-3 mr-1 mb-1">
                                <a href="/admin/rooms/?filter-type={{$zInfo.ZoneName}}" class="{{ if eq $filterType $zInfo.ZoneName }}link-dark{{end}}">{{$zInfo.ZoneName}}</a> ({{$zInfo.RoomCount}}) {{ if ne $zInfo.AutoScale "" }} <span class="text-secondary">[AutoScale: {{ $zInfo.AutoScale }}]</span>{{ end }}
                            </div>
                        {{end}}
                    </div>

                    <div class="w-50 form-group mt-5">
                        <h3>Select a Room <small>({{ len . }} found)</small></h3>
                        <select class="form-control selectpicker" 
                            name="roomid" id="roomid"  
                            data-live-search="true"
                            hx-get="/admin/rooms/roomdata" 
                            hx-target="#roomdata-edit" 
                            hx-trigger="change" >
                            <option value="">Select a Room to View</option>
                            <option value="0">Add New Room</option>
                            {{$lastZoneName := ""}}
                            {{range $i, $roomInfo := .Rooms }}
                                {{ if ne $roomInfo.RoomZone $lastZoneName }}
                                <option data-divider="true">Divider</option>
                                {{$lastZoneName = $roomInfo.RoomZone }}
                                {{ end }}
                                <option {{ $roomInfo.DataContent }} value="{{ $roomInfo.RoomId }}">{{ rpadhtml 20 $roomInfo.RoomZone "&nbsp;&nbsp;" }} {{ rpadhtml 7 $roomInfo.RoomId "&nbsp;&nbsp;" }} {{ $roomInfo.RoomTitle }}</option>
                            {{end}}
                        </select>
                    </div>
                </div>

                <div class="container-fluid" id="roomdata-edit"></div>

{{template "footer" .}}
